spring:
  # Datasource will be provided by Testcontainers @ServiceConnection
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always

springdoc:
    api-docs:
      enabled: false

amice:
  enabled: false

supabase:
  api:
    url: https://supabase.com
    jwt-secret: super-secret-jwt-token-with-at-least-32-characters-long
    jwt-issuer: http://localhost:54321/auth/v1
